.gotoButton {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 100px;
    color: #fff;
    text-transform: none, ;
    padding: 10px 35px;
    margin: 10px;
}

.buttonLink {
    text-decoration: none;
}