.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
}

.item {
    width: 250px;
    height: auto;
    border: 1px solid rgba(167, 166, 166, 0.28);
    padding: 5px 10px 20px 10px;
    margin: 10px;

    &.preview {
        border: none !important;
    }
    
    .button {
        cursor: pointer;
        padding: 8px 10px;
        width: 100%;
        background-color: rgba(55, 16, 83, 0.29);
        border: 1px solid #d2d1d1;   
    }
    input {
        padding: 10px;
        font-size: 1em;
        width: 230px;
        border: none;
        &:focus {
            outline: none;
        }
    }
}

.step {
    margin: 10px 0;
    font-size: 18px;
}
$number-size: 20px;
.step-number {
    width: $number-size;
    height: $number-size;
    text-align: center;
    background-color: #fff;
    color: blueviolet;
    border-radius: 100%;
    font-size: 18px;
    font-weight: 700;
    margin-right: 10px;
    display: inline-block;
}

.preview-container {
    display: flex;
    justify-content: center;
}
.redirection-link {
    text-decoration: none;
}
